a.nav-link {
 color: azure;
 transition:none;
}
.navbar-nav .nav-link.active {
  transition:none;
  background-color:#0B5ED7;
  border-radius: 1rem;
  color: azure;
}

a.nav-link:hover{
  color: azure;
}
@media (min-width: 768px) {
  .news-input {
      width: 50%;
  }
}
